<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>
  <button *ngIf="!authService.isAuthenticated()" mat-button (click)="login()" type="submit">Log In</button>
  <div *ngIf="authService.isAuthenticated()">
    <button mat-icon-button (click)="createNewMemory()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>