<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button [hidden]="authService.isAuthenticated()" class="btn btn-outline-primary float-right" (click)="login()" type="submit">Log In</button>
    <ul [hidden]="!authService.isAuthenticated()" class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, {{authService.getCurrentUser()?.displayName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </nav>