<agm-map [zoomControl]="false" [streetViewControl]="false" [clickableIcons]="false" [latitude]="newMemoryLat" [longitude]="newMemoryLong" [zoom]="zoom">
  <agm-marker id="newMemoryMarker" [visible]="showNewMemoryPin" [latitude]="newMemoryLat" [longitude]="newMemoryLong"></agm-marker>
  <agm-marker [markerClickable]="markerClickable" (markerClick)="handleMarkerClick(memory.location)" *ngFor="let memory of _memories" class="memoryMarker" [latitude]="memory.location.pinLocation.lat" [longitude]="memory.location.pinLocation.long"></agm-marker>
</agm-map>