<mat-vertical-stepper linear>
  <mat-step label="Pick a Place">
    <mat-form-field>
      <input matInput type="text" spellcheck="off" autocapitalize="off" id="placeSearch" placeholder="Search for a place" #placeSearch>
    </mat-form-field>
    <button mat-button matStepperNext type="button">Next</button>
  </mat-step>
  <mat-step label="Pick a Song">
    <mat-form-field>
      <input matInput type="text" spellcheck="off" autocapitalize="off" id="songSearch" placeholder="Search for a song" [matAutocomplete]="spotify" [formControl]="search"> 
    </mat-form-field>
    <mat-autocomplete #spotify="matAutocomplete" [displayWith]="getTrackString">
        <mat-option *ngFor="let result of _results | async" [value]="result">
          {{ getTrackString(result) }}
        </mat-option>
      </mat-autocomplete>
    <div>
      <button mat-button matStepperPrevious type="button">Previous</button>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper>