<mat-vertical-stepper linear>
  <mat-step label="Pick a Place">
    <mat-form-field>
      <input matInput type="text" spellcheck="off" autocapitalize="off" id="placeSearch" placeholder="Search for a place" #placeSearch>
    </mat-form-field>
    <button mat-button matStepperNext type="button">Next</button>
  </mat-step>
  <mat-step label="Pick a Song">
    <mat-form-field>
      <input matInput type="text" spellcheck="off" autocapitalize="off" id="songSearch" placeholder="Search for a song" #songSearch>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious type="button">Previous</button>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper>