<div id="player-overlay">
  <div id="player-overlay-wrapper">
    <div id="snack-bar-container">
      <section class="mat-typography" id="player">
        <img src="{{ _currentlyPlayingSong?.albumArtURI }}">
        <section id="song-info-container">
          <div>{{ _currentlyPlayingSong?.title }}</div>
          <div class="mat-caption">{{ _currentlyPlayingSong?.artist }}</div>
        </section>
        <button mat-icon-button>
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button id="play-button" mat-icon-button>
          <mat-icon (click)="spotifyService.resumePlayback()" *ngIf="!shouldShowPauseButton()" class="play-button-icon">play_circle_outline</mat-icon>
          <mat-icon (click)="spotifyService.pauseSong()" *ngIf="shouldShowPauseButton()" class="play-button-icon">pause_circle_outline</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>skip_next</mat-icon>
        </button>
        <mat-slider min="0" max="100" step="1" value="{{ _currentVolume }}"></mat-slider>
      </section>
    </div>
  </div>
</div>