<mat-sidenav-container>
  <mat-sidenav mode="over" [opened]="_isSidebarOpen" (closedStart)="sidebarService.closeSidebar()">
    <app-new-memory *ngIf="sidebarService.getCurrentState() == newMemoryState"></app-new-memory>
    <app-view-memories *ngIf="sidebarService.getCurrentState() == viewMemoriesState"></app-view-memories>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-map></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-player *ngIf="authService.isAuthenticated()"></app-player>
