mat-nav-list {
    user-select: none;
}

.memory-album-art {
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

.playback-icon {
    margin-left: 16px;
}

.memory-info {
    font-size: 10px !important;
}

.memory-info-separator {
    margin-top: 7px !important;
}

mat-icon[inline] {
    vertical-align: middle;
}

.view-memories-header {
    display: flex;
    justify-content: space-between;
}