<mat-nav-list>
    <span matSubheader class="view-memories-header">
      <p>{{ this._selectedLocation ? this._selectedLocation.name : 'Your memories' }}</p>
      <button mat-button (click)="playAll()">Play All</button>
    </span>
    <a [disableRipple]="!listClickable" (click)="listClickable ? showSongLocation(memory.location.pinLocation) : null" mat-list-item *ngFor="let memory of _memoriesToDisplay">
      <img matListAvatar src="{{ memory.song.albumArtURI }}" />
      <h3 matLine>{{ memory.song.title }}</h3>
      <p matLine>{{ memory.song.artist}}</p>
      <span matLine *ngIf="_selectedLocation == null">
        <span matLine class="memory-info-separator memory-info">
          <mat-icon inline>location_on</mat-icon> {{ memory.location.name }}
        </span>
        <span matLine class="memory-info">
            <mat-icon inline>calendar_today</mat-icon> {{ memory.createdAt | date : "MMMM d, y" }}
        </span>
      </span>
      <button *ngIf="authService.isAuthenticated()" mat-icon-button class="playback-icon">
        <mat-icon (click)="playSong(memory.song)" *ngIf="!shouldShowPauseButton(memory.song)">play_circle_outline</mat-icon>
        <mat-icon (click)="pauseSong(memory.song)" *ngIf="shouldShowPauseButton(memory.song)">pause_circle_outline</mat-icon>
      </button>
      <button *ngIf="memory.song.isSavedByCurrentUser" mat-icon-button>
        <mat-icon (click)="deleteMemory(memory)">delete_outline</mat-icon>
      </button>
    </a>
 </mat-nav-list>